{% extends "base.html" %}
{% block content %}

<h1>Please login</h1>
<br>
<form action="" method="post">
<!--  <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">-->
<!--  <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">-->
<!--  <input class="btn btn-default" type="submit" value="Login">-->
<!--</form>-->
<!--<form action="#" method="POST">-->
<!--  <p><input type="button" value = "Cancel" onclick="javascript:window.location='https://www.linkedin.com/in/man-wai-tse-96mt/';"></p>-->
<!--</form>-->
  <div class="login">
   <div class="login-screen">
   <div class="app-title">
   <h1>Login</h1>
</div>
   <div class="login-form">
   <div class="control-group">
               <input type="text" class="login-field" value="" placeholder="username" name="username">
   <label class="login-field-icon fui-user" for="login-name"></label></div>
   <div class="control-group">
               <input type="password" class="login-field" value="" placeholder="password" name="password">
   <label class="login-field-icon fui-lock" for="login-pass"></label></div>
   <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
   </div>
</div>
</div>
    <p><input type="button" value = "Cancel" onclick="javascript:window.location='http://127.0.0.1:5000/welcome';"></p>

</form>
{% endblock %}